<div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9 mx-auto"> <!-- Keeps it centered but with slight shift -->
                        <div class="card mb-0" data-aos="zoom-in">
                            <div class="h4 text-center title">Contact Me</div>
                            <div class="row justify-content-center"> <!-- Centers the row -->
                                <div class="col-md-6 text-center move-left"> <!-- Added move-left class -->
                                    <div class="card-body">
                                        <p class="mb-0">
                                            <strong>Phone</strong>
                                        </p>
                                        <p class="pb-2">+216 92548524</p>
                                        <p class="mb-0">
                                            <strong>Email</strong>
                                        </p>
                                        <p>mechmechhamdi@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
